<div class="container margin-top-30">
    <div id="main-content">
        <div class="left-content">
            <div class="sf-content-box">
                <span class="content-heading FAQ-heading" style="text-transform:uppercase">Square Foot Flooring FAQ</span>
                <div class="sf-content">
                    <div style="margin-top: -20px; margin-bottom: 20px;">
                        <div class="faq-select">
                            <select id="mySelect" onchange="chng_faq(this.value)" class="selectbox">
                                <option value="engineered-hardwood-floor" selected="">Engineered Wood Floor</option>
                                <option value="installation">Installation</option>
                                <option value="laminate">Laminated Wood Floor</option>
                                <option value="solidwood-flooring">Solid Wood Floor</option>
                                <option value="bamboo">Bamboo Wood Floor</option>
                                <option value="composite-decking">Deck Floor</option>
                                /
                            </select>
                        </div>
                    </div>
                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <h1>Engineered Wood Floor</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><strong>Q. What is engineered hardwood flooring?</strong><br> Engineered wood flooring represents all the traditional aesthetics of solid hardwood with an innovative design. Comprising of several layers, the top layer being a species of real hardwood, engineered hardwood flooring is robust flooring. The core layer of engineered hardwood is made up of pine and spruce woods, which allows the engineered flooring to expand and contract with changing temperature and moisture levels without affecting your floor.</p>
                                        <p>The engineered flooring has been designed to provide greater stability.</p>
                                        <p><strong>Q. What are the benefits of engineered hardwood over laminate and solid hardwood floor?</strong><br> Engineered hardwood is more versatile and stable than solid hardwood and laminate;</p>
                                        <p>Durability:<br>• More resistant to moisture and humidity than solid hardwood<br>• better for below-grade installations - basements, where dampness is common; able to  install over radiant heating systems, which tend to dry out solid hardwood causing the boards to shrink, cup and buckle</p>
                                        <p>Installation:<br>• Ideal on a concrete subfloor because it can be installed with direct glue-down or a floating floor, where in solid wood floor needs to be nailed on plywood.</p>
                                        <p><strong>Q. What does greater stability mean?</strong><br> The stability of wood floor is symbolized with an ability to withstand moisture and heat. The volatility of solid hardwood is usually moisture or heat related. Under adverse conditions, solid hardwood floors can warp, cup, swell or split apart. Engineered hardwood flooring overcomes these problems by constructing a multiple-ply plank which counteracts twisting and remains flat and intact.</p>
                                        <p><strong>Q. What is the thickness of the hardwood veneer?</strong><br> The hardwood veneer, top layer hardwood, can typically be 2.0mm to 6.0mm or more in thickness.</p>
                                        <p><strong>Q. Can I refinish (sand) an engineered floor?</strong><br> Yes. Due to excessive wear and tear the top layer of engineered wood floor do gets scratches or dents. With the help of flooring expert, sanding can be done to engineered wood floor.  The frequency and feasibility of sanding depends upon the thickness of hardwood layer. The fact is that 95% of hardwood surfaces are never refinished. With the high quality finishes that are offered and the extensive process that refinishing a floor entails, damaged areas are often removed professionally. If sanding is desired, typically, the professional sanding procedure removes less then an mm. Thus if your floor has a 2mm layer you can sand the floor 1-2 times.</p>
                                        <p><strong>Q. Is there a benchmark for comparing the relative hardness of other wood?</strong><br> The 'Brinell scale' characterizes the indentation hardness of materials through the scale of penetration of an indenter, loaded on a material test-piece. These rating serve as a benchmark for comparing the relative hardness of other wood species.</p>
                                        <p><strong>Q. While preparing a sub floor, what is the maximum variance you should allow?</strong><br> The preparation of your sub floor is a key factor to the final finishing of your floor. You should have no more than 3-5mm over 10' variance on your sub floor.</p>
                                        <p><strong>Q. What does it mean when hardwood is sold in random lengths?</strong><br> Wooden flooring comes in plank and each plank has fixed length and width. On external packaging of wooden flooring, length and width of planks is mentioned.</p>
                                        <p>Some hardwood flooring comes in fixed length of planks and some has random length of planks but width remains constant. In case of random length external packing indicates the shortest length and longest length of the plank. This means planks inside the box can fall in between those two lengths.</p>
                                        <p>Generally, fixed lengths flooring comes at higher cost.</p>
                                        <p><strong>Q. How should I install my engineered hardwood?</strong><br> Installation of Engineered wood flooring must be done by experts. Allow your engineered wood flooring to acclimate in the room where it will be installed for a minimum of 72 hours. Inspect each strip of engineered wood flooring carefully for defects or damage before installing it.</p>
                                        <p>For float installation, use an underlayment with a vapor barrier. Usually for floating, the seams will still need to be glued together using regular wood glue. The interlocking of wood flooring is matched correctly to complete the installation.</p>
                                        <p>Please note that the explanation above is a general guide. Please refer to your installation instruction for details.</p>
                                        <p>Also read flooring guides with information on installation, maintenance, caring tips and benefits of our flooring solution including <a href="http://www.squarefoot.co.in/faq-s/solidwood-flooring/">Solid Wood Floors</a>, <a href="http://www.squarefoot.co.in/faq-s/bamboo/">Bamboo Floors</a>, <a href="http://www.squarefoot.co.in/faq-s/laminate/">Laminate Floors</a> and more.</p>
                                        <p>Checkout our wide range of custom flooring solutions including <a href="http://www.squarefoot.co.in/outdoor-wood-floors/">Outdoor Flooring</a>, Vinyl Flooring, <a href="http://www.squarefoot.co.in/outdoor-wood-floors/artificial-turf/">Artificial Turf</a> and Wall Cladding.</p>
                                        <p>Call us on - 1800 226 211 or <a href="http://www.squarefoot.co.in/contact-us/">submit an enquiry</a> today so that we can suggest custom flooring solutions for your needs.</p>
                                        <p>&nbsp;</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- right content start -->
        <div class="right-content">
            <div class="content">
                <div class="sf-content-box">
                    <div class="sf-content sf-content-1">
                        <div class="icon"></div>
                        <div class="content">
                            <p>Square Foot</p>
                            <p>Ground Floor, Raghuvanshi Mansion,</p>
                            <p>Raghuvanshi Mills Compound,</p>
                            <p>Senapati Bapat Marg,</p>
                            <p>Lower Parel,  Mumbai - 400 013.</p>
                        </div>
                    </div>
                    <div class="sf-content sf-content-2">
                        <div class="icon"></div>
                        <div class="icon2"></div>
                        <div class="content">
                            <p>+91-22-4047 6211</p>
                            <p>+91-22-2497 6216</p>
                            <p style="color:#e32620">Toll Free : 1800 226 211</p>
                        </div>
                    </div>
                    <div class="sf-content sf-content-3">
                        <div class="icon"></div>
                        <div class="content">
                            <p style="color:#e32620">sales@squarefoot.co.in</p>
                        </div>
                    </div>
                    <div class="sf-content sf-content-4">
                        <div class="icon"></div>
                        <div class="content">
                            <p>Square Foot is always on the look out for good international partners. To supply to us please email your details to <a href="mailto:gsaraf@squarefoot.co.in" style="color:#e32620">gsaraf@squarefoot.co.in</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- right content end -->
    </div>
</div>