<div class="container margin-top-30">
	<div  class="row" id="main-content">
		<!-- left content start -->
		<div class="left-content col-md-6" style="width: 640px;">
			<div class="">
				<h1 class="content-heading" style="padding-bottom:10px">Contact Bengaluru Showroom - Square Foot</h1>
				<div class="sf-content">
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
						<tbody>
							<tr>
								<td align="left" valign="top">
									<table border="0" cellspacing="0" cellpadding="0" width="100%" id="contact-us">
										<tbody>
											<input type="hidden" value="12.935638" name="latitude" id="latitude">
											<input type="hidden" value="77.624649" name="latitude" id="longitude">
											<input type="hidden" value="<div itemscope itemtype=&quot;http://schema.org/LocalBusiness&quot;>
												<div itemprop=&quot;name&quot;><strong>Bengaluru Showroom</strong></div>
												<div itemprop=&quot;address&quot; itemscope itemtype=&quot;http://schema.org/PostalAddress&quot;><span itemprop=&quot;streetAddress&quot;>Square Foot,<br>
												No 51, 1st Floor, 100 Feet Road,<br> 4th Block, Koramangala, <br>
												</span><span itemprop=&quot;addressLocality&quot;>Bangalore </span> - <span itemprop=&quot;postalCode&quot;>560034</span><br />
												<span itemprop=&quot;addressRegion&quot;>Karnataka</span>, <span itemprop=&quot;addressCountry&quot;>India</span><br />
												T: <span itemprop=&quot;telephone&quot;>+91 8041101012 / 13 </span><br />
												F: <span itemprop=&quot;faxNumber&quot;>+91 80 2563 3145 </span><br />
												<span itemprop=&quot;email&quot;><a href=&quot;mailto:sales@squarefoot.co.in&quot;>sales@squarefoot.co.in </a></span><br />
												</div>
												</div>" name="map_address" id="map_address">
											<input type="hidden" value="" name="city_hid" id="city_hid">
											<tr>
												<td align="left" valign="top">
													<div id="map_canvas1">
														<div class="citys">
															<div class="contact-select">
																<select id="mySelect1" onchange="chng_contact(this.value)" class="selectbox1">
																	<option value="ahmedabad">Ahmedabad</option>
																	<option value="bengaluru" selected="">Bengaluru</option>
																	<option value="bhopal">Bhopal</option>
																	<option value="bhubaneswar">Bhubaneswar</option>
																	<option value="chennai">Chennai</option>
																	<option value="coimbatore">Coimbatore</option>
																	<option value="goa">Goa</option>
																	<option value="guwahati">Guwahati</option>
																	<option value="hyderabad"> Hyderabad</option>
																	<option value="indore">Indore</option>
																	<option value="jaipur">Jaipur</option>
																	<option value="kochi">Kochi</option>
																	<option value="kolkata"> Kolkata</option>
																	<option value="mumbai">Mumbai</option>
																	<option value="nasik">Nasik</option>
																	<option value="new-delhi"> New Delhi</option>
																	<option value="patna">Patna</option>
																	<option value="pune"> Pune</option>
																	<option value="surat">Surat</option>
																	/
																</select>
															</div>
															<script>
																function chng_contact(alise) {
																	var path = 'https://www.squarefoot.co.in/contact-us/'+alise;
																	window.location.href = path;
																}
															</script> 
														</div>
														<div class="timings">
															<div class="address_map" style="margin-left: 20px; margin-right: 40px;">
																<div itemscope="" itemtype="http://schema.org/LocalBusiness">
																	<div itemprop="name"><strong>Bengaluru Showroom</strong></div>
																	<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Square Foot,<br>
																		No 51, 1st Floor, 100 Feet Road,<br> 4th Block, Koramangala, <br>
																		</span><span itemprop="addressLocality">Bangalore </span> - <span itemprop="postalCode">560034</span><br>
																		<span itemprop="addressRegion">Karnataka</span>, <span itemprop="addressCountry">India</span><br>
																		T: <span itemprop="telephone">+91 8041101012 / 13 </span><br>
																		F: <span itemprop="faxNumber">+91 80 2563 3145 </span><br>
																		<span itemprop="email"><a href="mailto:sales@squarefoot.co.in">sales@squarefoot.co.in </a></span><br>
																	</div>
																</div>
															</div>
															<h4><strong>Showroom Hours:</strong></h4>
															10:00 am to 6:30pm Monday - Saturday 
															<div style="clear:both;"></div>
															<div style="margin-left: 20px;"><a href="https://goo.gl/maps/cA1z8KpdF2D2" target="_blank" class="show_hide_map_all1">View Location On Map</a></div>
														</div>
													</div>
													<div style="clear:both;"></div>
													<!--<div id='map_canvas'> </div>--><script type="text/javascript">
														squarfoot.locate_us.init();
														$(window).load(function(){
															setTimeout(function(){
																$('#map_canvas').toggle();
															},300);
															$('.show_hide_map_all').on('click',function(){
																squarfoot.locate_us.init();
																//$('#map_canvas').height('350px');
																$('#map_canvas').toggle('slow');
															});
														});
													</script>
												</td>
											</tr>
											<tr>
												<td>
													<h1 style="margin-top: 15px;font-weight: 600;text-transform: capitalize;text-decoration: underline;">Reach us for free consultation &amp; appointment</h1>
												</td>
											</tr>
											<tr class="contactus-form">
												<td align="left" valign="top">
													<form id="my-form"
													action="https://formspree.io/f/xnqogvnj"
													method="POST"
												  >
													<table border="0" cellspacing="0" cellpadding="0" width="100%" class="contact-wrapper" style="padding: 30px;background: #41414112;margin-top: 20px;">
													
														<tbody>
															<!--<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
																</tr>
																<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
																</tr>
																<tr>
																<td width='24%'>&nbsp;</td>
																<td width='76%'></td>
																</tr>
																<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
																</tr>-->
															<tr>
																<td>Name<span style="color:red">*</span> :</td>
																<td>
																	<input name="Full Name" type="text" class="name">
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td>E-mail<span style="color:red">*</span>  :</td>
																<td>
																	<input name="Email" type="text" class="email">
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td>City<span style="color:red">*</span> :</td>
																<td>
																	<input name="City" type="text" class="address">
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td>Contact No.<span style="color:red">*</span> :</td>
																<td>
																	<input name="Contact Number" type="text" class="contact-no">
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td style="width: 38%;">Where did you hear about us?<span style="color:red">*</span> :</td>
																<td>
																	<div id="contact-hear-about-box">
																		<div class="combobox" id="q-hear-about-option">
																			<div class="combovalue">
																				<div class="gendervalue">Select an option</div>
																			</div>
																			<div class="comboarrow">
																				<span></span>
																			</div>
																			
																			<select name="Heard From" id="aboutus">
																				<option value="Magazine">Magazine</option>
																				<option value="Newspapers">Newspapers</option>
																				<option value="Architect / Interior Decorator">Architect / Interior Decorator</option>
																				<option value="References">References</option>
																				<option value="Exhibition">Exhibition</option>
																				<option value="Existing Customers">Existing Customers</option>
																				<option value="Direct Mailer">Direct Mailer</option>
																				<option value="Search Engine">Search Engine</option>
																				<option value="Other">Other</option>
																			  </select>
																		</div>
																	</div>
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td>I am<span style="color:red">*</span>  :</td>
																<td>
																	<div id="contact-who-you-box">
																		<div class="combobox" id="q-who-you-option">
																			<div class="combovalue">
																				<div class="gendervalue">Select an option</div>
																			</div>
																			<div class="comboarrow">
																				<span></span>
																			</div>
																			<div class="combovalues">
																				<select name="I am A" id="iam">
																					<option value="Architect">Architect</option>
																					<option value="Interior Designer">Interior Designer</option>
																					<option value="Contractor">Contractor</option>
																					<option value="Other">Other</option>
																				  </select>
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td align="left" valign="top">Product<span style="color:red"></span>  :</td>
																<td>
																	<table border="0" cellspacing="0" cellpadding="0" width="100%">
																		<tbody>
																			<tr>
																				<td>
																					<div id="contact-products-box">
																						<div class="combobox" id="q-product-option">
																							<div class="combovalue">
																								<div class="gendervalue">Select Products </div>
																							</div>
																							<div class="comboarrow">
																								<span></span>
																							</div>
																							<select name="Products" id="product">
																								<option value="Engineered Wood Floors">Engineered Wood Floors</option>
																								<option value="Laminate Wood Floors"> Laminate Wood Floors</option>
																								<option value="Solid Wood Floors">Solid Wood Floors</option>
																								<option value="Outdoor Surfaces Wooden Flooring">Outdoor Surfaces Wooden Flooring</option>
																								<option value="Homogeneous Vinyl Flooring">Homogeneous Vinyl Flooring</option>
																								<option value="Design Wood Floors">Design Wood Floors</option>
																								<option value="Wall Vinyl Covering">Wall Vinyl Covering</option>
																								<option value="Heterogeneous Vinyl Floor">Heterogeneous Vinyl Floor</option>
																								<option value="Linoleum Vinyl Floors">Linoleum Vinyl Floors</option>
																								<option value="Safety Vinyl Floors">Safety Vinyl Floors</option>
																								<option value="Indoor Sports Vinyl Floors">Indoor Sports Vinyl Floors</option>
																								<option value="Carpet Floors">Carpet Floors</option>
																								<option value="Ecofit Floors">Ecofit Floors</option>
																							  </select>
																						</div>
																					</div>
																				</td>
																			</tr>
																			<tr>
																				<td>&nbsp;</td>
																			</tr>
																			<tr>
																				<td>
																					<div id="contact-color-box">
																						<div class="combobox" id="q-color-option">
																							<div class="combovalue">
																								<div class="gendervalue">Select Color </div>
																							</div>
																							<div class="comboarrow">
																								<span></span>
																							</div>
																							<input type="color" id="head" name="Color"
																							value="#e66465">&nbsp;
																					 <label for="Color">Color</label>
																						</div>
																					</div>
																				</td>
																			</tr>
																			<tr>
																				<td>&nbsp;</td>
																			</tr>
																			<tr>
																				<td>
																					<div id="contact-species-box">
																						<div class="combobox" id="q-species-option">
																							<div class="combovalue">
																								<!-- <div class="gendervalue">Select Species</div> -->
																							</div>
																							<div class="comboarrow">
																								<span></span>
																							</div>
																							<div class="combovalues" style="display: none;"></div>
																						</div>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td>Message :</td>
																<td>
																	<label for="message">
																	<textarea class="message" name="Message"></textarea>
																</label>
																</td>
															</tr>
														
														</tbody>
													
													</table>
													<button id="my-form-button">Submit</button>
													<p id="my-form-status"></p>
												
												</form>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<script type="text/javascript">
						squarfoot.contact_us.init();
					</script>
					
<script>
	window.addEventListener("DOMContentLoaded", function() {
  
	  // get the form elements defined in your form HTML above
	  
	  var form = document.getElementById("my-form");
	  var button = document.getElementById("my-form-button");
	  var status = document.getElementById("my-form-status");
  
	  // Success and Error functions for after the form is submitted
	  
	  function success() {
		form.reset();
		button.style = "display: none ";
		status.innerHTML = "Thanks!";
	  }
  
	  function error() {
		status.innerHTML = "Oops! There was a problem.";
	  }
  
	  // handle the form submission event
  
	  form.addEventListener("submit", function(ev) {
		ev.preventDefault();
		var data = new FormData(form);
		ajax(form.method, form.action, data, success, error);
	  });
	});
	
	// helper function for sending an AJAX request
  
	function ajax(method, url, data, success, error) {
	  var xhr = new XMLHttpRequest();
	  xhr.open(method, url);
	  xhr.setRequestHeader("Accept", "application/json");
	  xhr.onreadystatechange = function() {
		if (xhr.readyState !== XMLHttpRequest.DONE) return;
		if (xhr.status === 200) {
		  success(xhr.response, xhr.responseType);
		} else {
		  error(xhr.status, xhr.response, xhr.responseType);
		}
	  };
	  xhr.send(data);
	}
  </script>
				</div>
			</div>
		</div>
		<!-- left content end -->
		<!-- right content start -->
		<div class="right-content right-contact-us col-md-6" style="width: 270px;">
			<div class="content">
				<div class="sf-content-box">
					<div class="sf-content sf-content-1">
						<div class="icon"></div>
						<div class="content">
							<p>Square Foot</p>
							<p>Ground Floor, Raghuvanshi Mansion,</p>
							<p>Raghuvanshi Mills Compound,</p>
							<p>Senapati Bapat Marg,</p>
							<p>Lower Parel, &nbsp;Mumbai - 400 013.</p>
						</div>
					</div>
					<div class="sf-content sf-content-2">
						<div class="icon"></div>
						<div class="icon2"></div>
						<div class="content">
							<p>+91-22-4047 6211</p>
							<p>+91-22-2497 6216</p>
							<p style="color:#e32620">Toll Free : 1800 226 211</p>
						</div>
					</div>
					<div class="sf-content sf-content-3">
						<div class="icon"></div>
						<div class="content">
							<p style="color:#e32620"><a href="mailto:sales@squarefoot.co.in">sales@squarefoot.co.in</a></p>
						</div>
					</div>
					<div class="sf-content sf-content-4">
						<div class="icon"></div>
						<div class="content">
							<p>Square Foot is always on the look out for good international partners. To supply to us please email your details to <a href="mailto:purchase@squarefoot.co.in" style="color:#e32620">purchase@squarefoot.co.in</a></p>
						</div>
					</div>
				</div>
				<div class="sf-content-box" style="margin-top:50px;">
					<div class="sf-content sf-content-1">
						<div class="fa fa-check" style="color: white"></div>
						<div class="content" style="display: inline-block;margin-left: 8px !important;">
							<p>A dedicated flooring expert will visit your home to help you decide on the perfect flooring solution.</p>
						</div>
					</div>
					<div class="sf-content sf-content-1">
						<div class="fa fa-check" style="color: white"></div>
						<div class="content" style="display: inline-block;margin-left: 8px !important;">
							<p>Our expert will accurately measure your chosen rooms to keep wastage to a minimum and ensure you get the best price.</p>
						</div>
					</div>
					<div class="sf-content sf-content-1">
						<div class="fa fa-check" style="color: white"></div>
						<div class="content" style="display: inline-block;margin-left: 8px !important;">
							<p>Receive advice on suitable flooring types, underlay and accessories.</p>
						</div>
					</div>
					<div class="sf-content sf-content-1">
						<div class="fa fa-check" style="color: white"></div>
						<div class="content" style="display: inline-block;margin-left: 8px !important;">
							<p>You can book your home appointment for a time that is convenient for you.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- right content end -->
	</div >
</div>