<div class="container-fluid margin-top-30">
    <div id="main-content">
        <div class="left-content">
            <div class="sf-content-box">
                <h1 class="content-heading" style="text-transform:uppercase">About Square Foot</h1>
                <div class="sf-content">
                    <table class="about-us" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr class="aboutus_banner">
                                <td><img src="assets/aboutus.jpg" alt="Square Foot - Wooden, Laminate &amp; Vinyl Flooring Supplier" width="618" height="175" style="border: 0px none;"></td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <h2><br>About Us</h2>
                                    <br><br>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <p>Square Foot has a vision of creating a perfect integrated flooring solution. We follow two simple ethos– Quality and Innovation.</p>
                                    <p>Our varied array of product categories consists of solid wood, engineered wood, laminate wood, outdoor deck flooring, commercial heterogeneous &amp; homogeneous vinyl, linoleum and floors for sports application – both indoor and outdoor. These are available in hundreds of alternative colors and shades, patterns and designs, quality standards and price points which give us all the necessary options, making us a true provider of integrated solutions.</p>
                                    <p>Square Foot also represents Tarkett (www.tarkett.com) in India since 1995 for their residential and commercial floorings.</p>
                                    <p>Square Foot has always put environmental concerns first and ensures that most of our partners are either FSC or PEFC accredited. So, while making our products we ensure that we do not harm the environment. While designing a LEED certified project, please confirm with us for our selection in laminates, wood and vinyl which are eco-friendly and certified so you can earn LEED points for the same.</p>
                                    <p>We have over 24 years of experience, in creating more than 72 million square foot of sustainable, safe and inspiring flooring across India. All Square Foot showrooms and offices are equipped with qualified sales, technical and installation teams so we can manage projects anywhere in the country. So go ahead, choose a Square Foot floor today.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <h2>Why Square Foot?</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><br></td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <p><strong>Credentials</strong> – One of India's oldest flooring company incorporated since 1995 with more than 72 million sqft installed!</p>
                                                    <p><strong>Experience</strong> – We understand the extent of finishing required in a site and our people are trained to think and do the work ensuring a good finishing and high standards.</p>
                                                    <p><strong>Specialisation</strong> – Knowledge and experience which comes from specialization in the <a href="/categories">product category</a> in question; we understand wood related products and flooring only and therefore are able to take any query related to product, installation and service as our organization works on this 24/7.</p>
                                                    <p><strong>Full commitment of local people</strong> – Immediate service from local people from our local office – no waiting for installers or supervisors to come from any other capital city.</p>
                                                    <p><strong>Delivery period</strong> – Flooring is a critical area of every premise. We understand the importance of installing flooring on time; therefore we plan so well that your area can start operating as per your schedule and not as per your supplier's schedule.</p>
                                                    <p><strong>Customization</strong> – We can customize and make to order with any wood, thickness, specification, surfaces (lacquer, oil, and matt lacquer), finish, and dimension.</p>
                                                    <p><strong>Accessories</strong> – We provide all solutions to go with your rooms – profiles in rubber, <a href="/homogeneous-vinyl-floors">vinyl</a>, <a href="/solid-wood-floors">wood</a>, <a href="/laminate-wood-floors">laminate</a> and metal – all to help you achieve the finish that you are seeking.</p>
                                                    <p><strong>Maintenance guidance</strong> – In case of commercial projects, we provide hands on training to respective department e.g. hotel maintenance department after we finish the site so that cleaning and maintenance for the floors meets the hotels high standard.</p>
                                                    <p><strong>Cleaning solutions </strong> – – In case of commercial projects, we can undertake an AMC to clean the floors twice a year if requested with specialized products which will remove surface dirt and stains and give the floor a new look.</p>
                                                    <p><strong>Green Solutions </strong> – Floorings (FSC certified available) and lacquers produced in a non harmful way for all certification and LEED requirements.</p>
                                                    <p>View more details on installation, maintenance, caring tips and benefits of our flooring solution including <a href="https://www.squarefoot.co.in/faq-s/laminate/">Wooden Floors</a>, <a href="https://www.squarefoot.co.in/faq-s/bamboo/">Bamboo Floors</a>, <a href="https://www.squarefoot.co.in/faq-s/composite-decking/">Deck Floors</a>, <a href="https://www.squarefoot.co.in/faq-s/vinyl-flooring/">Vinyl Floors</a> and <a href="https://www.squarefoot.co.in/carpet-floors/">Carpets</a>.</p>
                                                    <p>Also read our custom flooring solutions for <a href="https://www.squarefoot.co.in/casestudy/indoor-sports-vinyl-flooring/">Sports Organisations</a>, <a href="https://www.squarefoot.co.in/casestudy/titan-india-pvt-ltd/">Retail Stores</a>, <a href="https://www.squarefoot.co.in/casestudy/hotel-rooms-and-restaurant/">Hotels</a>.</p>
                                                    <p>Call us on - 1800 226 211 or <a href="https://www.squarefoot.co.in/contact-us/">submit an enquiry</a> today so that we can suggest custom flooring solutions for your needs.</p>
                                                    <p><br><br><strong>&nbsp;</strong></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top"><br></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- right content start -->
        <div class="right-content">
            <div class="content">
                <div class="sf-content-box">
                    <div class="sf-content sf-content-1">
                        <div class="icon"></div>
                        <div class="content">
                            <p>Square Foot</p>
                            <p>Ground Floor, Raghuvanshi Mansion,</p>
                            <p>Raghuvanshi Mills Compound,</p>
                            <p>Senapati Bapat Marg,</p>
                            <p>Lower Parel, &nbsp;Mumbai - 400 013.</p>
                        </div>
                    </div>
                    <div class="sf-content sf-content-2">
                        <div class="icon"></div>
                        <div class="icon2"></div>
                        <div class="content">
                            <p>+91-22-4047 6211</p>
                            <p>+91-22-2497 6216</p>
                            <p style="color:#e32620">Toll Free : 1800 226 211</p>
                        </div>
                    </div>
                    <div class="sf-content sf-content-3">
                        <div class="icon"></div>
                        <div class="content">
                            <p style="color:#e32620">sales@squarefoot.co.in</p>
                        </div>
                    </div>
                    <div class="sf-content sf-content-4">
                        <div class="icon"></div>
                        <div class="content">
                            <p>Square Foot is always on the look out for good international partners. To supply to us please email your details to <a href="mailto:gsaraf@squarefoot.co.in" style="color:#e32620">gsaraf@squarefoot.co.in</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- right content end -->
    </div>
</div>