<div class="carousel_main">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/ny.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/fff.png" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/ny.jpg"  alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/fff.png" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<section class="container margin-top-30">
  <h1>Home Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus atque dolor quo nemo aut error itaque velit cupiditate. Quam quas beatae dolorum. Beatae aut soluta eveniet, totam ex aperiam illum! <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat assumenda esse aperiam nesciunt voluptatum quo sit ratione eaque repellat iure deleniti officiis recusandae doloremque voluptates, est sapiente neque, voluptas reprehenderit.</p>
</section>